* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Roboto", sans-serif;
}

.card {
  position: relative;
  display: inline-block;
  padding-right: 40px;
  border-right: 1px #d8d8d8 solid;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .img-top {
  display: inline;
}

.flex {
  display: flex;
  align-items: baseline;
  border-bottom: 1px #d8d8d8 solid;
  background-image: linear-gradient(#d8d8d8, #e4e9f1);
}

h1 {
  border-bottom: 2px greenyellow solid;
  font-size: 36px;
  margin-top: 20px;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  border-right: 1px #d8d8d8 solid;
  display: block;
  color: gray;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
  padding-top: 39px;
  padding-bottom: 25px;
}

li a:hover {
  background-color: #e9edf4;
  color: black;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.fa-bars {
  padding-right: 5px;
}

.main {
  column-gap: 40px;
  column-width: 300px;
  font-size: 14px;
  padding: 10px;
  border-bottom: 2px #d8d8d8 solid;
  border-left: 2px #d8d8d8 solid;
  border-right: 2px #d8d8d8 solid;
}

.show-hide {
  color: gray;
  font-size: 12px;
  padding: 10px;
}

footer {

  padding: 10px;
  font-size: 12px;
  color: gray;
}

.space {

  margin-left: 4px;
}

.dis{

  display: none;
}

#spread {
  display: flex;
  justify-content: space-between;
}

tr:nth-child(even) {
  background-color: #bfbfbf;
}

th {
  border-bottom: 2px solid #ddd;
}

td, th {
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: left;
}

td{
  font-size: 14px;
}

article {
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-bottom: 1px greenyellow solid;

}

table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px #d8d8d8 solid;
}

#botton{
  padding-bottom: 16px;
}


@media only screen and (max-width: 768px) {
  .main {
    column-count: 1;
  }

  article {
    margin: 0;
  }

  th:nth-child(n+5), td:nth-child(n+5){
    display: none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .main {
    column-count: 2;
  }
  article {
    margin: 0;
  }

  th:last-child, td:last-child{
    display: none;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1200px) {
  .main {
    column-count: 3;
  }
}




